#cheesy_pick-up_lines-container li {
  list-style-type: none;
  position: relative;
  padding-left: 26px;
}
#cheesy_pick-up_lines-container li:before {
  top: 8px;
  left: 2px;
  padding: 5px;
  border: 3px solid pink;
  border-radius: 10px;
  content: "";
  position: absolute;
}
